/*global*/
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.menu{
    margin-right: 1rem;
}


/*utilities*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

/*header*/
.site-init{
    background-color: white;
    height: 15rem;
    background-image: url(https://getwallpapers.com/wallpaper/full/9/8/a/394963.jpg);
    background-size: cover;
    height: 11vh;

}

/*main*/
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*welcome*/
.welcome-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome-img{
    display: flex;
    justify-content: left;
    width: 40rem;
    border-radius: 40px;
}
.welcome-img2{
    display: flex;
    justify-content: right;
    width: 40rem;
    border-radius: 40px;
}
.welcome.text{
    display: flex;
    justify-content: center;
}
.btn-class{
    margin-left: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*services*/

/*footer*/
.site-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    background-image: url(https://getwallpapers.com/wallpaper/full/9/8/a/394963.jpg);
    color: black;
}
/*cards*/
#pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.petCard{
    background-color: rgb(152, 199, 241);
    border-radius: 5px;
    padding: 1rem;
    margin-right: 12rem;
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.alert-error{
    background-color: rgb(226, 126, 126);
}

.hidden{
    display: none;
}
.success{
    background-color: rgb(88, 232, 88);
}
/*
#FF8484
#231651
#2374AB
/*

